body {
    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
}
li {
    margin-bottom: 30px;
}

#board-name {
    font-weight: lighter;
    font-size: 50px;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.board {
    padding: 20px;
    overflow: auto;
    display: flex;
    height: 70vh;
}

.list-box {
    width: 600px;
    padding: 10px;
    margin-right: 30px;
    overflow: auto;
    border: solid 1px white;
}

.list-label {
    display: flex;
    justify-content: space-between;
}

.list-name {
    font-weight: lighter;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.list {
    border: solid 1px white;
    padding-inline-start: 0;
    list-style-type: none;
}

.btn {
    border: solid 1px white;
    padding: 2px;
    font-size: 25px;
    background: none;
    color: white;
}

.form-add-card {
    border: solid 1px white;
   display: none;
    grid-template-columns: repeat(2, 1fr);
}

.card-name-holder {
    border: solid 1px white;
    padding: 2px;
    font-size: 25px;
    background: none;
    color: white;
    grid-row: 1;
    grid-column: 1/3;
}

.add-card {
    grid-row: 2;
    grid-column: 1;
}

.cancel {
    grid-row: 2;
    grid-column: 2;
}

.card-label {
    display: flex;
    border: solid 1px white;
    padding: 2px;
    justify-content: space-between;
}

.card-box {
    padding: 10px;
    border: solid 1px white;
}

.card-content {
    display: block;
    word-wrap: normal;
    font-size: 25px;
}

.list-container {
    display: flex;
}

#list-add-form {
    border: solid 1px white;
    display: none;
    grid-template-columns: repeat(2, 1fr);
}

#list-name-holder {
    border: solid 1px white;
    padding: 2px;
    font-size: 25px;
    background: none;
    color: white;
    grid-row: 1;
    grid-column: 1/3;
}

.add-list {
    grid-row: 2;
    grid-column: 1;
}

.add-list-block {
    width: 400px;
    padding: 10px;
}

.checklist-list {
    border: solid 1px white;
    padding-inline-start: 0;
    list-style-type: none;
}

.form-add-checklist {
    border: solid 1px white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.checklist-name-holder {
    border: solid 1px white;
    padding: 2px;
    font-size: 25px;
    background: none;
    color: white;
    grid-row: 1;
    grid-column: 1/4;
}

.add-checklist {
    font-size: 15px;
    grid-row: 1;
    grid-column: 4;
}

.checklist-box {
    padding: 10px;
    /* border: solid 1px rgba(255, 255, 255, 1); */
}

.checklist-label {
    display: flex;
    border: solid 1px white;
    padding: 2px;
    justify-content: space-between;
}

.checklist-name {
    display: block;
    word-wrap: normal;
    font-size: 25px;
}

.checklist {
    padding: 10px;
    padding-inline-start: 0;
    list-style-type: none;
}

.form-add-checklist-item {
    border: solid 1px red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.checklist-item-name-holder {
    border: solid 1px white;
    padding: 2px;
    font-size: 25px;
    background: none;
    color: white;
    grid-row: 1;
    grid-column: 1/4;
}

.add-checklist-item {
    font-size: 15px;
    grid-row: 1;
    grid-column: 4;
}

.checklist-item {
    display: flex;
    justify-content: space-between;
}

.checklist-item-name {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 10px;
    cursor: pointer;
    word-wrap: normal;
    font-size: 25px;
    user-select: none;
}

.checklist-item-name input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 30px;
    width: 30px;
    background: none;
    border: solid 1px white;
}

.checklist-item-name:hover input~.checkmark {
    background-color: white;
}

.checklist-item-name input:checked~.checkmark {
    background: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checklist-item-name input:checked~.checkmark:after {
    display: block;
}

.checklist-item-name .checkmark:after {
    left: 11px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}
